/* Containers */
body
{
	font-family: Helvetica;
	font-weight: bold;
}

div
{
	text-align:center;
}

div.left
{
	float: left;
	width: 200px;
	border-bottom: 4px solid rgb(0,0,0);
}

div.right
{
	float: right;
	width: 200px;
	border-bottom: 4px solid rgb(0,0,0);
}

div.inlineCenter
{
	margin:0 auto;
	width: 400px;
	border-bottom: 6px solid black;
}

.center
{
	margin-left:auto;
	margin-right:auto;
	width:800px;
}

table
{
	margin: 0 auto;
	border-spacing: 6px;
}

td
{
	width: 130px;
	height: 130px;
	padding: 0px;
}

/* Board Elements */
	/* Squares */
td.blankSquare
{
	background-color: black;
}

td.XSquare
{
	background-color: black;
	background-image: url("/static/x.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

td.OSquare
{
	background-color: black;
	background-image: url("/static/o.png");
	background-size: 100%;
	background-repeat: no-repeat;
}